﻿<div class="form-group form-inline">
    <div class='input-group date col-6'>
        <label for="datepicker1">Start date: </label>
        <input type='text' class="form-control ml-2" id="datepicker1" name="datepicker1" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <div class='input-group date col-6'>
        <label for="datepicker2">End date: </label>
        <input type='text' class="form-control ml-2" id="datepicker2" name="datepicker2"/>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div>

<table class="display" id="table_id" style="width:100%">
    <thead>
        <tr>
            <th>Currency From</th>
            <th>Currency To</th>
            <th>Amount From</th>
            <th>Amount To</th>
            <th>Time Stamp</th>
        </tr>

    </thead>
</table>

<script>
    $(document).ready(function () {

        //Solution taken from : https://stackoverflow.com/a/41422122
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = $('#datepicker1').datepicker({ dateFormat: 'dd/MM/yyyy' }).val();
                var max = $('#datepicker2').datepicker({ dateFormat: 'dd/MM/yyyy' }).val();

                var dateValue = data[4];
                if (min == null && max == null) { return true; }
                if (min == null && dateValue <= max) { return true; }
                if (max == null && dateValue >= min) { return true; }
                if (dateValue <= max && dateValue >= min) { return true; }

                return false;
            }
        )

        var dataTable = $('#table_id').DataTable({
            "lengthChange": false,

            "ajax": {
                "url": "/api/logs",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "currencyFrom" },
                { "data": "currencyTo" },
                { "data": "amountFrom" },
                { "data": "amountTo" },
                { "data": "timeStamp" }

            ],

            "language": {
                "emptyTable": "No record found"
            },
            "order": [[4,'desc']],
            "width": "100%"
        });

        var dateWeekBefore = new Date();
        dateWeekBefore.setDate(dateWeekBefore.getDate() - 7)

        var datestring = ("0" + dateWeekBefore.getDate()).slice(-2) + "/" + ("0" + (dateWeekBefore.getMonth() + 1)).slice(-2) + "/" +
            dateWeekBefore.getFullYear();
    
        // Original code from: https://jqueryui.com/datepicker/#date-range

        from = $("#datepicker1")
            .datepicker({
                dateFormat: 'dd/mm/yy',
                defaultDate: "-1w",
                maxDate: new Date(),
                changeMonth: true,
                "onSelect": function (date) {
                    dataTable.draw();
                }
            })
            .val(datestring)
            .on("change", function () {
                dataTable.draw();
            })

        to = $("#datepicker2")
            .datepicker({
                dateFormat: 'dd/mm/yy',
                defaultDate: new Date(),
                maxDate: new Date(),
                changeMonth: true,
                "onSelect": function (date) {
                    dataTable.draw();
                }
            })
            .datepicker("setDate", new Date())
            .on("change", function () {
                dataTable.draw();
            });
      

    });

    function getDate(element) {
        var date;

        try {
            date = $.datepicker.parseDate('dd/mm/yy', element.value);
        } catch (error) {
            date = null;
        }
        return date;
    }
       
    
</script>