﻿@model Dictionary<string, Pharmacy2U_Tech_Test.Models.Currency>

@{
    if (ViewBag.Key != null)
    {
        ConvertedCurrency convertedCurrency = Model[ViewBag.Key].ConvertedCurrency;
        if (convertedCurrency != null)
        {
            <h2 class="text-center">@convertedCurrency.CurrencyNameFrom To @convertedCurrency.CurrencyNameTo</h2>
            <h4 class="text-center">@convertedCurrency.CurrencyAmountFrom@convertedCurrency.CurrencyNameFrom equals @convertedCurrency.CurrencyAmountTo@convertedCurrency.CurrencyNameTo</h4>
        }
    }

}
<form class="form col-8 offset-2" method="post" action="@Url.Action("Convert", "Home")">
    <div class="form-group">
        <label for="currencyFrom">From:</label>
        <select class="form-control" name="CurrencyFrom" id="CurrencyFrom">
            <option value="GBP">GBP - Pound Sterling</option>
            @foreach (var item in Model)
            {
                <option value="@item.Value.CurrencyCode">@item.Value.CurrencyCode - @item.Value.CurrencyName</option>
            }

        </select>
    </div>
    <div class="form-group">
        <label for="currencyTo">To:</label>
        <select class="form-control" name="CurrencyTo" id="CurrencyTo">
            <option value="USD">USD - United States Dollar</option>
            <option value="AUD">AUD - Australian Dollar</option>
            <option value="EUR">EUR - Euro</option>
        </select>
    </div>
    <div class="form-group">
        <label for="currencyValue">Enter Amount:</label>
        <input type="number" class="form-control" name="CurrencyAmount" placeholder="100.00" min="1" step="0.01" required />
    </div>
    <button type="submit" class="btn btn-primary col-4">Convert</button>
    <a href="/Home/Audit" class="btn btn-primary col-4 offset-3" style="display:inline-block">View Audit</a>
    
    


 
</form>

<script>
 
    var options = "";
    $("#CurrencyFrom").on('change', function () {
        var value = $(this).val();
        if (value == "GBP") {
            options = 
                " <option value='USD'>USD - United States Dollar</option>"
            +   " <option value='AUD'>AUD -  Australian Dollar</option>"
                + "<option value='EUR'>EUR - Euro</option>";

            $("#CurrencyTo").html(options);
        }
        else {
            options = "<option value='GBP'>GBP - Pound Sterling</option>";
            $("#CurrencyTo").html(options);
        }
    });
    
</script>